.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  padding: 10vmin;
}

.App-header {
  background-color: #2E3D44;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F4EAD6;
}
